
.about-page {
  background: linear-gradient(180deg, #C5BC45 12vh, #ffffff 12vh);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.about-p {
  padding-bottom: 30px;
}

.about-h1 {
  font-style: italic;
  margin-left: 3vh;
}

.about-my-picture {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
}

ul {
  padding: 0;
}

li {
  padding-bottom: 5px;
  margin-left: 3vh;
  list-style: none;
  margin-right: 3vh;
}

.about-contact {
  display: flex;
  justify-content: center;
}

.link-contact {
  padding-right: 5px;
}

.about-icons {
  width: 22px;
}

@media screen and (min-width: 1024px) {
  .about-page {
    background: linear-gradient(90deg, #C5BC45 21%, #ffffff 0%);
    height: 100%;
    display: flex;
  }

  .about-left {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .about-right {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
  }

  .about-txt {
    padding: 30px;
  }

  .about-h1 {
    padding-bottom: 20px;
  }

  .about-p {
    line-height: 22px;
    padding-bottom: 40px;
  }

  .about-my-picture {
    width: 400px;
    height: 400px;
    margin-top: 90px;;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 30px;
  }

  /* ul {
    padding: 10;
  } */

  /* li {
    padding-bottom: 5px;
    margin-left: 20px;
    width: 110%;
  } */

  .about-contact {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }

  .link-contact {
    padding-right: 5px;
  }

  .about-icons {
    width: 22px;
  }

}