p {
   margin: 0;
}

.main-page {
  display: flex;
  background: linear-gradient(90deg, #C5BC45 50%, #ffffff 50%);
  /* background-attachment: fixed; */
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0;
}

.main-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}

.main-right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.main-my-name {
  font-size: 60px;
  margin: 0;
  margin-top: 30px;
  color: white;
  text-align: center;
  margin-bottom: 130px;
  background-color: #00000000;
  width: 400px;
  align-self: center;
  border: none;
}

.main-my-name:hover {
  transition: 0.1s;
  scale: 1.02;
}

.main-div-about {
  margin-left: 10px;
  margin-top: 90px;
  text-align: center;
}

.main-p-about{
  font-size: 30px;
  font-style: italic;
  margin-bottom: 20px;
}

.main-buttons-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}