.div-card {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 95%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  height: 300px;
}
.image-card {
  max-height: 63%;
}