.div-card {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 95%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  border: 1px solid red;
}
.image-card {
  max-height: 100%;
}

.link-card{
  height: 180px;
}