.project-page {
  background: linear-gradient(90deg, #C5BC45 21%, #ffffff 0%);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  display: flex;
  margin: 0;
}

.hasProject {
  height: 100%;
  
}

.h1-project {
  letter-spacing: .1rem;
  align-self: center;
  font-family: 'Khand', sans-serif;
  font-size: 40px;
}

.notHasProject {
  height: 100vh;
}

.image-card-details {
  margin-left: 40px;
  border-radius: 20px;
  width: 60%;
}

.div-details {
  display: flex;
}

.description {
  /* text-indent: 30px; */
  line-height: 22px;
  margin: auto;
  margin-top: 0;
  width: 30%;
  
}

.div-icons-details {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.github-icone {
  width: 100px;
  margin-top: 5px;
  border-radius: 10px;
}

.download-icone {
  width: 35px;
  margin-top: 5px;
}

.project-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 21%;
}

.project-right {
  display: flex;
  flex-direction: column;
  width: 79%;
}

.link-about {
  align-self: center;
}

.button-about {
  box-shadow: none;
  font-size: 23px;
  width: 150px;
  padding-bottom: 0;
}