.project-page {
  background: linear-gradient(180deg, #C5BC45 12vh, #ffffff 12vh);
  height: 100vh;
}

.h1-project {
  letter-spacing: .1rem;
  text-align: center;
  font-family: 'Khand', sans-serif;
  font-size: 40px;
}

.image-card-details {
  max-width: 100vw;
}

.div-icons-details {
  display: flex;
  justify-content: flex-start;
  margin-top: 1vh;
  margin-left: 3vw;
}

.github-icone {
  width: 100px;
  margin-top: 5px;
  border-radius: 10px;
}

.download-icone {
  width: 35px;
  margin-top: 5px;
}
.button-about {
  display: none;
}

@media screen and (min-width: 1024px) {

  .project-page {
    background: linear-gradient(90deg, #C5BC45 21%, #ffffff 0%);
    display: flex;
  }

  .hasProject {
    height: 100%;
  }

  .notHasProject {
    height: 100vh;
  }

  .h1-project {
    letter-spacing: .1rem;
    align-self: center;
    font-family: 'Khand', sans-serif;
    font-size: 40px;
  }

  .image-card-details {
    margin-left: 40px;
    border-radius: 20px;
    max-width: 60%;
  }

  .div-details {
    display: flex;
  }

  .description {
    /* text-indent: 30px; */
    line-height: 22px;
    margin: auto;
    margin-top: 0;
    width: 30%;

  }

  .div-icons-details {
    display: flex;
    margin-top: 0;
    margin-left: 50px;
    align-items: center;
  }

  .github-icone {
    width: 100px;
    border-radius: 10px;
  }

  .download-icone {
    width: 35px;
    margin-top: 5px;
  }

  .project-left {
    display: flex;
    flex-direction: column;
    width: 20%;
  }


  .project-right {
    display: flex;
    flex-direction: column;
    width: 79%;
  }

  .link-about {
    align-self: center;
  }

  .button-about {
    text-decoration: none;
    box-shadow: none;
    display: inline-block;
    font-size: 23px;
    width: 150px;
    padding-bottom: 0;
  }
}