.div-card {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 90%;
  height: 100%;
  border: 1px solid red;

}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 1px solid green;
}

.image-card {
  width: 50px;
  height: 50px;
}